.navigation-bar {
    width: 100%;  
    background-color: white; 
    box-shadow: 0 20px 20px -20px #333;
    overflow-X: hidden;}

.navigation-bar  a {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    height: 50px;        
    line-height: 100px; 
    text-decoration: none;
    text-decoration-style: bold;
    color: black;
    font-weight: bold;
    outline: initial;
    font-size: 15px;
    font-family: 'Just Another Hand', cursive;
    margin-top: -20px;
    transition: 1s}

.navigation-bar a:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 0.5s}

.logo {
    width: 90px;
    height: 60px;
    margin-right: 50px;
    margin-top: 2px;}

.navigation-bar a input {
    width: 100px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid;
    text-align: center;
    top: -20px;}

.navigation-bar a input:focus {
    width: 100%;}




.pic {margin-top: 30px;}



.typetext {
    margin-left: 50px;
    }
  
p { font-family: 'Bradley Hand', cursive;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    width: 670px;
    margin-left: 100px;
    font-weight: bold;
    text-align: center;
}

h1 { font-family: 'Comic Sans MS, Comic Sans', cursive; 
    margin-left: 50px;
    width: 820px;
    font-size: 20px;
    text-align: center;}

h2 { font-family: 'Сomic Sans MS', cursive;
    margin-left: 50px;
    width: 820px;
    font-size: 15px;
    font-weight: normal;}

h3 {font-family: 'Сomic Sans MS', cursive;
    margin-bottom: 50px;
    margin-left: 50px;
    width: 820px;
    font-size: 20px;
    font-weight: normal;}

.playlists iframe {margin-left: 100px;
margin-bottom: 100px;}

.videoplay iframe {margin-left: 50px;}





.topbutton {
    width:100px;
    border:2px solid #ccc;
    background:#f7f7f7;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:50px;
    right:50px;
    cursor:pointer;
    color:#333;
    font-family:'Just Another Hand', cursive;
    font-size:12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;}


