.navigation-bar {
    width: 100%;  
    background-color: white; 
    box-shadow: 0 20px 20px -20px #333;
    overflow-X: hidden;}

.navigation-bar  a {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    height: 50px;        
    line-height: 100px; 
    text-decoration: none;
    text-decoration-style: bold;
    color: black;
    font-weight: bold;
    outline: initial;
    font-size: 15px;
    font-family: 'Just Another Hand', cursive;
    margin-top: -20px;
    transition: 1s}

.navigation-bar a:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 0.5s}

.logo {
    width: 90px;
    height: 60px;
    margin-right: 50px;
    margin-top: 2px;}

.navigation-bar a input {
    width: 100px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid;
    text-align: center;
    top: -20px;}

.navigation-bar a input:focus {
    width: 100%;}





h1{
    margin-top: 300px;
    position: absolute;
    margin-left: 50px;
    color: white;
    font: 2em Arial, sans-serif;
    text-shadow: black 0 0 2px;}



#i1, #i2, #i3, #i4, #i5{ display: none;}

.container{
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
    width: 820px;
    height: 0 auto;
    padding-bottom: 35%;
    user-select: none;
    background-color: #1c1c1c;
    border: solid 1px #616161;
    border-radius: 5px ; 
    margin-left: 50px;
    overflow-X: hidden;
    opacity: 0.6;
    transition: 0.5s;}

.container:hover{
    opacity: 1;
    transition: 0.5s;}


.container .slide_img{
        position: absolute;
        width: 100%;
        height: 100%;
    }
.container .slide_img img{
    width: 820px;
    height: 460px;}

.prev, .next{
    width: 12%;
    height: inherit;
    position: absolute;
    top:0; 
    background-color: rgba(88, 88, 88,.2);
    color:rgba(244, 244, 244,.9);
    z-index: 99;
    transition: .45s;
    cursor: pointer;
    text-align: center;}

.next{right:0;}
.prev{left:0;}

label span{
    position: absolute;
    font-size: 100pt;
    top: 50%;
    transform: translateY(-50%);}

.prev:hover, .next:hover{
    transition: .3s;
    background-color: rgba(88, 88, 89,.8);
    color: #ffffff; }

.container #nav_slide{
    width: 100%;
    bottom: 12%;
    height: 11px;
    position: absolute;
    text-align: center;
    z-index: 99;
    cursor: default;
}

#nav_slide .dots{
    top: -5px;
    width: 18px;
    height: 18px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    transition: .4s;
}

#nav_slide .dots:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
    transition: .25s
}

.slide_img{z-index: -1;}

    #i1:checked ~ #one  ,
    #i2:checked ~ #two  ,
    #i3:checked ~ #three,
    #i4:checked ~ #four ,
    #i5:checked ~ #five 
    {z-index: 9; animation: scroll 1s ease-in-out;}

    #i1:checked  ~  #nav_slide #dot1,
    #i2:checked  ~  #nav_slide #dot2,
    #i3:checked  ~  #nav_slide #dot3,
    #i4:checked  ~  #nav_slide #dot4,
    #i5:checked  ~  #nav_slide #dot5
    { background-color: rgba(255,255,255,.9);}

@keyframes scroll{
    0%{ opacity:.4;}
    100%{opacity:1;}
}       


@media screen and (max-width: 685px){
.container{
    border: none;
    width: 100%;
    height: 0;
    padding-bottom: 55%;}   
    
label span { font-size: 50pt; }
    
.prev, .next{
    width: 15%;}   
#nav_slide .dots{
    width: 12px;
    height: 12px;}
}

@media screen  and(min-width: 970px){
    .me{ display: none;}}


















.column {
    float: left;
    width: 20%;
    margin-top: 30px;
    padding: 0 8px;
    margin-left: 30px;
    opacity: 1;
    transition: 0.5s;}

.column:hover{
    opacity: 0.6;
    transition: 1s;
     }






.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}






h2 {
    font-family: 'Comic Sans MS, Comic Sans', cursive;font-size: 20px;
    text-decoration: bold;
    color: black;
    text-decoration: none;
    padding: 0 16px;
    clear: both;
    display: table;
}

